@font-face {
    font-family: 'Nexa Light';
    src: url("fonts/Nexa-Light.otf");
}

@font-face {
    font-family: 'Nexa Bold';
    src: url("fonts/Nexa-Bold.otf");
}

.background {
    -fx-background-color: #125B50;
}

.text-general {
    -fx-font-family: "Nexa Bold";
    -fx-fill: #faf5e4;
}

.container {
    -fx-background-radius: 10px;
    -fx-padding: 30px;
}

.text-player-information {
    -fx-font-size: 46 px;
}

.text-score-information {
    -fx-font-size: 40 px;
}

.button {
    -fx-font-size: 17 px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25px;
}

.button:hover {
    -fx-cursor: hand;
}
